@charset "UTF-8";

/* Set height of body and the document to 100% */

body{
  font: 15px "Lato", Arial, sans-serif;
  /* color: #666; */
  background-color: #f1f1f1;
  padding: 20px;
  /* font-family: Arial; */
  min-width: 870px;
}

.float-right{
  float: right;
}