@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background: url(/movie/resources/images/4.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 0;
  margin: 0;
  padding: 0;
}

/* 가운데정렬 */
.Center-Container {
  position: relative;
  height: 100%;
  width: 100%;
  height: 100%;
}

.Absolute-Center {
  width: 60%;
  height: 60%;
  min-height: 490px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: solid black; */
  padding: 10px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  /* padding: 100px 20px; */
  height: 100%;
  padding: 0;
  height: 95%;
}

.tabs {
  height: 90%;
  margin: 0;
  padding: 0;
}

.mainDiv {
  height: 377px;
  display: block;
  padding: 0px;
}

.mainTitle {
  margin-top: 30px;
  text-align: center;
}

.subTitle {
  margin-top: 5px;
  text-align: center;
}

.btn-search {
  height: 30px;
  margin: 0;
  float: right;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  padding: 0 10px;
  width: 10%;
  /* text-align: start; */
}

.btns{
  position: relative;
}

.btn-next {
  height: 30px;
  margin: 0;
  margin-top: 10px;
  margin-right: 13px;
  float: right;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  padding: 0 10px;
  /* text-align: start; */
}

.btn-refresh {
  height: 30px;
  margin: 0;
  margin-top: 10px;
  position: absolute;
  left:calc(50% - 14px);
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  padding: 0 10px;
  /* text-align: start; */
}

.btn-before {
  height: 30px;
  margin: 0;
  margin-top: 10px;
  float: left;
  font-size: 14px;
  text-align: center;
  line-height: 29px;
  padding: 0 10px;
  margin-left: 13px;
  /* text-align: start; */
}

.input-text {
  margin: auto;
  display: inline-block;
}

.form-group {
  margin-bottom: 5px;
}

.tab1>.form-group {
  margin-bottom: 5px;
  padding-left: 30px;
}
/* textEffect */
.input-p {
  width: 80px;
  display: inline-block;
}

input[type="text"], input[type="password"], input[type="email"] {
  font: 17px "Lato", Arial, sans-serif;
  color: #333;
  width: 80%;
  height: 33px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  background: transparent;
}
/* end of style for tab1 */

/* tab2 style */
input[type=checkbox]:before+button {
  content: "";
  display: none inline-block;
  width: 12px;
  height: 12px;
  background: red;
}

input[type=checkbox]:checked:before+button {
  background: green;
}

input[type=text].col82 {
  width: 78%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* start tab3 */
.title-arch {
  text-align: center;
  margin: 50px 0;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project {
  width: 100%;
  height: 300px;
  background-image: url("/movie/resources/images/director.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 !important;
  float: left;
}

.project-2 {
  background-image: url("/movie/resources/images/actor.jpg");
}

.project-3 {
  background-image: url("/movie/resources/images/genre.jpg");
}

.project-4 {
  background-image: url("/movie/resources/images/apprisal.jpg");
}

.project-hover {
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(81, 81, 81, 0.7);
  padding: 40% 30px !important;
  cursor: pointer;
}

.project-hover hr {
  height: 30px;
  width: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 1);
  border: 0;
}

.project-hover a {
  color: rgba(255, 255, 255, 1);
  padding: 2px 22px;
  line-height: 40px;
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
  border-color: rgba(51, 51, 51, 1);
  color: rgba(51, 51, 51, 1);
  background-color: #FFF;
}

.project:hover .project-hover {
  opacity: 1;
}

.project:hover .project-hover hr {
  width: 100%;
  height: 5px;
}

.done {
  text-decoration: none;
  color: white;
}
/* end of tab3 */