@charset "UTF-8";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-image: url("/movie/resources/images/4444.jpg");
  
  border: 0;
  margin: 0;
  padding: 0;
}

body{
  font: 14px "Lato", Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
  color: #666;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: white;
  color: black;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* 가운데정렬 */
.Center-Container {
  position: relative;
  height: 100%;
}

.Absolute-Center {
  width: 60%;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: solid black; */
  padding : 10px;
}

/* textEffect */

input[type="text"],
input[type="password"],
input[type="email"]{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 80%;
  letter-spacing: 1px;
  background:transparent;
}
/* end of style for tab1 */

/* tab2 style */

input[type="checkbox"] {
  background-color: #666665;
}

input[type="checkbox"]:checked {
  display:none;
  background-color: red;
}



.checkbox-container {
  position: relative;
}

/* 기본 체크박스 없애기 */
.checkbox-container input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

/* 웹의 경우 커서에 pointer 설정 */
.checkbox-container input[type="checkbox"]+label {
  display: inline-block;
  position: relative;
  cusor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 새로운 디자인의 체크박스 만들기 */
.checkbox-container input[type="checkbox"]+label:before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
    rgba(0, 0, 0, 0.05);
}

.checkbox-container input[type="checkbox"]+label:active:before,
  .checkbox-container input[type="checkbox"]:checked+label:active:before  {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
    rgba(0, 0, 0, 0.1);
}

.checkbox-container input[type="checkbox"]:checked+label:before {
  content: '\2713';
  color: #314ca2;
  text-shadow: 1px 1px white;
  background: #f1f4ff;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
    rgba(0, 0, 0, 0.05);
}

/* end of style for tab2 */