@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main2 {
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row2 {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row2,
.row2 > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
   /* width: 20%; */
  display: none; /* Hide all elements by default */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 235px; */
  width: 23%;
  height: 700px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  /* display : inline-block; */
}

/* Clear floats after rows */ 
.row2:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
}

/* The "show" class is added to the filtered elements */
.show {
  /* display: block; */
  display:inline-block;
}

/* Style the buttons */
.btn {
  border: solid grey 1px;
  border-radius:12px;
  outline: none;
  padding: 8px 10px;
  margin-bottom: 5px;
  background-color: white;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
#navbar .topnav #main{
color: black;
font-weight: bold;
}
p{
margin-bottom: 5px;
margin-top: 0;
font-size: 0.9em;
}
a{
color: black;
}
#pagination {
  display: table;
  margin: 0 auto;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}