<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.min.movie.dao.AdminDao">

  <select id="getMovie" resultType="kr.min.movie.vo.MovieVo">
    select * from movie
  </select>
  <select id="getGenre" resultType="kr.min.movie.vo.GenreVo">
    select * from genre
  </select>
  <select id="getActor" resultType="kr.min.movie.vo.ActorVo">
    select * from actor
  </select>
  <select id="getDirector" resultType="kr.min.movie.vo.DirectorVo">
    select * from director
  </select>
  <select id="getDirectorList" resultType="kr.min.movie.vo.DirectorMovieVo">
    select * from
    m_director_list where #{DirectorMovieVo.director_id}
  </select>
  <select id="getMovieId" resultType="int">
    select max(id) from movie <!-- max id 값을 가져오는 것 -->
    <!-- select id, title from movie order by id desc limit 1 -->
  </select>
  <select id="getDirectorOneMovie" resultType="kr.min.movie.vo.DirectorMovieVo">
    SELECT movie.id,
    movie.title, director.director_id, director.director_name
    FROM
    director
    LEFT JOIN m_director_list on
    m_director_list.director_id =
    director.director_id
    LEFT JOIN movie on
    m_director_list.director_list
    = movie.id
    GROUP BY director.director_id ORDER BY movie.open_date
    DESC;
  </select>

  <insert id="addMovie">
    insert into movie
    (title, rate, synopsis)
    value
    (#{movieVo.title}, #{movieVo.rate}, #{movieVo.synopsis});
  </insert>
  <insert id="updateMovie">
    <!-- update board set title=#{boardVo.title}, contents=#{boardVo.contents}, 
      file = #{boardVo.file} where num = #{boardVo.num}; -->
    update movie set
    rate=#{movieVo.rate}, running_time=#{movieVo.running_time}, open_date =
    #{movieVo.open_date},
    grade=#{movieVo.grade}, synopsis=#{movieVo.synopsis}, poster = #{movieVo.poster}
    where id = #{movieVo.id};
  </insert>
  <update id="modifyMovie">
    update movie set
      title=#{movieVo.title}, rate=#{movieVo.rate}, running_time=#{movieVo.running_time},
      open_date = #{movieVo.open_date}, grade=#{movieVo.grade},
      synopsis=#{movieVo.synopsis},
      poster = #{movieVo.poster}
    where id = #{movieVo.id};
  </update>
  <insert id="addActor">
    insert into actor
    (actor_name, actor_img,
    actor_birth, actor_country, actor_gender, actor_story,
    a_trophy_list)
    value
    (#{actorVo.actor_name}, #{actorVo.actor_img},
    #{actorVo.actor_birth},
    #{actorVo.actor_country},
    #{actorVo.actor_gender},
    #{actorVo.actor_story},
    #{actorVo.a_trophy_list});
  </insert>
  <update id="modifyActor">
    update actor set
    actor_name=#{actorVo.actor_name}, actor_img=#{actorVo.actor_img},
    actor_birth=#{actorVo.actor_birth}, actor_country=#{actorVo.actor_country},
    actor_gender=#{actorVo.actor_gender}, actor_story=#{actorVo.actor_story},
    a_trophy_list=#{actorVo.a_trophy_list}
    where actor_id = #{actorVo.actor_id};
  </update>
  <select id="addActorList" resultType="kr.min.movie.vo.ActorListVo">
    insert into m_actor_list
    (actor_list, actor_id, cast, c_name)
    value
    (#{actorListVo.actor_list}, #{actorListVo.actor_id},
    #{actorListVo.cast}, #{actorListVo.c_name});
  </select>
  <insert id="addDirector">
    insert into director
    (director_name, director_img,
    director_birth, director_gender, director_story,
    d_trophy_list)
    value
    (#{directorVo.director_name}, #{directorVo.director_img},
    #{directorVo.director_birth},
    #{directorVo.director_gender},
    #{directorVo.director_story},
    #{directorVo.d_trophy_list});
  </insert>
  <update id="modifyDirector">
    update director set
    director_name=#{directorVo.director_name}, director_img=#{directorVo.director_img},
    director_birth=#{directorVo.director_birth}, director_gender=#{directorVo.director_gender},
    director_story=#{directorVo.director_story}, d_trophy_list=#{directorVo.d_trophy_list}
    where director_id = #{directorVo.director_id};
  </update>
  <select id="addDirectorList" resultType="kr.min.movie.vo.DirectorListVo">
    insert into
    m_director_list
    (director_list, director_id)
    value
    (#{directorListVo.director_list}, #{directorListVo.director_id});
  </select>
  <select id="addGenreList" resultType="kr.min.movie.vo.GenreListVo">
    insert into m_genre_list
    (genre_list, genre_id)
    value
    (#{genreListVo.genre_list},
    #{genreListVo.genre_id});
  </select>



</mapper>